.comment {
	grid-column: 1 / -1;
	max-width: 72rem;
	color: var(--black-color--soft);
}

.comment.child {
	grid-column: 2 / -1;
}

.comment .content {
	display: grid;
	column-gap: 1rem;
	grid-template-columns: auto 1fr;
}

.comment .author {
	color: initial;
	display: block;
	margin-bottom: 0.8rem;
}

.comment .text {
	margin-top: 0;
	margin-bottom: 1rem;
}

.comment .text:last-child {
	margin-bottom: 0;
}

.comment .footer {
	grid-column: 2/ -1;
	font-size: var(--font-size--small);
	margin-top: 1rem;
}

.comment .button {
	background: none;
	color: var(--blue-color);
	font-size: inherit;
	font-weight: 500;
	border: none;
	cursor: pointer;
	padding: 1px 4px;
}

.comment .button:focus,
.comment .button:hover {
	background: initial;
	color: var(--blue-color--hover);
}
